*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  background-color: #0e1726;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100dvh;
  height: 100%;
  background-color: #0e1726;
  overflow: hidden;
}

#root {
  height: 100%;
  min-height: 100dvh;
}
